# Worksheet 00

Name: Hrishav Varma

UID: U57996211

### Topics

- course overview
- python review

### Course Overview

a) Why are you taking this course?

To get better hands-on experience and proficiency in data science tools and techniques.

b) What are your academic and professional goals for this semester?

To learn to apply data science techniques better and learn derive valuable insights that would be usefull in a professional setting.

c) Do you have previous Data Science experience? If so, please expand.

I have worked on a few projects related to computer vision, machine learning and deep learning in my undergrad.

d) Data Science is a combination of programming, math (linear algebra and calculus), and statistics. Which of these three do you struggle with the most (you may pick more than one)?

Calculus

### Python review

#### Lambda functions

Python supports the creation of anonymous functions (i.e. functions that are not bound to a name) at runtime, using a construct called `lambda`. Instead of writing a named function as such:

In [1]:
def f(x):
    return x**2
f(8)

64

One can write an anonymous function as such:

In [2]:
(lambda x: x**2)(8)

64

A `lambda` function can take multiple arguments:

In [3]:
(lambda x, y : x + y)(2, 3)

5

The arguments can be `lambda` functions themselves:

In [4]:
(lambda x : x(3))(lambda y: 2 + y)

5

a) write a `lambda` function that takes three arguments `x, y, z` and returns `True` only if `x < y < z`.

In [2]:
(lambda x, y, z: x<y & y<z)(2,4,6)

True

b) write a `lambda` function that takes a parameter `n` and returns a lambda function that will multiply any input it receives by `n`. For example, if we called this function `g`, then `g(n)(2) = 2n`

In [1]:
(lambda n: (lambda x: x*n))(2)(5)

10

#### Map

`map(func, s)`

`func` is a function and `s` is a sequence (e.g., a list). 

`map()` returns an object that will apply function `func` to each of the elements of `s`.

For example if you want to multiply every element in a list by 2 you can write the following:

In [5]:
mylist = [1, 2, 3, 4, 5]
mylist_mul_by_2 = map(lambda x : 2 * x, mylist)
print(list(mylist_mul_by_2))

[2, 4, 6, 8, 10]

`map` can also be applied to more than one list as long as they are the same size:

In [9]:
a = [1, 2, 3, 4, 5]
b = [5, 4, 3, 2, 1]

a_plus_b = map(lambda x, y: x + y, a, b)
list(a_plus_b)

[6, 6, 6, 6, 6]

c) write a map that checks if elements are greater than zero

In [1]:
c = [-2, -1, 0, 1, 2]
gt_zero = map(lambda x: x>0, c)
list(gt_zero)

[False, False, False, True, True]

d) write a map that checks if elements are multiples of 3

In [2]:
d = [1, 3, 6, 11, 2]
mul_of3 = map(lambda x: x%3==0, d)
list(mul_of3)

[False, True, True, False, False]

#### Filter

`filter(function, list)` returns a new list containing all the elements of `list` for which `function()` evaluates to `True.`

e) write a filter that will only return even numbers in the list

In [3]:
e = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
evens = filter(lambda x: x%2==0, e)
list(evens)

[2, 4, 6, 8, 10]

#### Reduce

`reduce(function, sequence[, initial])` returns the result of sequentially applying the function to the sequence (starting at an initial state). You can think of reduce as consuming the sequence via the function.

For example, let's say we want to add all elements in a list. We could write the following:

In [5]:
from functools import reduce

nums = [1, 2, 3, 4, 5]
sum_nums = reduce(lambda acc, x : acc + x, nums, 0)
print(sum_nums)

15

Let's walk through the steps of `reduce` above:

1) the value of `acc` is set to 0 (our initial value)
2) Apply the lambda function on `acc` and the first element of the list: `acc` = `acc` + 1 = 1
3) `acc` = `acc` + 2 = 3
4) `acc` = `acc` + 3 = 6
5) `acc` = `acc` + 4 = 10
6) `acc` = `acc` + 5 = 15
7) return `acc`

`acc` is short for `accumulator`.

f) `*challenging` Using `reduce` write a function that returns the factorial of a number. (recall: N! (N factorial) = N * (N - 1) * (N - 2) * ... * 2 * 1)

In [7]:
factorial = lambda x : reduce(lambda acc, n: acc*n, [i for i in range(1, x+1)], 1)
factorial(10)

3628800

g) `*challenging` Using `reduce` and `filter`, write a function that returns all the primes below a certain number

In [29]:
prime_checker = lambda n: all(n % i != 0 for i in range(2, int(n**0.5) + 1))
sieve = lambda x: list(filter(prime_checker, [i for i in range(2, x+1)]))
print(sieve(100))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

### What is going on?

For each of the following code snippets, explain why the result may be unexpected and why the output is what it is:

In [36]:
class Bank:
  def __init__(self, balance):
    self.balance = balance
  
  def is_overdrawn(self):
    return self.balance < 0

myBank = Bank(100)
if myBank.is_overdrawn :
  print("OVERDRAWN")
else:
  print("ALL GOOD")

OVERDRAWN

The code prints "OVERDRAWN" which is unexpected instead of "ALL GOOD" as we are assigning the value of 100 when creating the myBank object through the constructor. This is because the if statement has a crucial part missing which is the brackets "()" to call the function "is_overdrawn". Since it is just referencing the object method, it passes the if check and prints "OVERDRAWN".

In [2]:
for i in range(4):
    print(i)
    i = 10

0
1
2
3

The loop prints 0,1,2,3 is expected as when iterating in the loop, the range(4) function generates an iterable [0,1,2,3] initially and the variable i gets reassigned the value and from the iterable of the loop and never has value of 10 when printing at the start of each iteration of the loop.

In [37]:
row = [""] * 3 # row i['', '', '']
board = [row] * 3
print(board) # [['', '', ''], ['', '', ''], ['', '', '']]
board[0][0] = "X"
print(board)

[['', '', ''], ['', '', ''], ['', '', '']]
[['X', '', ''], ['X', '', ''], ['X', '', '']]

the object `board` has "X" in all the three lists it has which is unexpected as we are assigning "X" just to the first element of first list. This is because the three lists inside the `board` list is referencing the same list which is `row`. Hence we are getting the output.

In [5]:
funcs = []
results = []
for x in range(3):
    def some_func():
        return x
    funcs.append(some_func)
    results.append(some_func())  # note the function call here

funcs_results = [func() for func in funcs]
print(results) # [0,1,2]
print(funcs_results)

[0, 1, 2]
[2, 2, 2]

When populating the `results` list, we are doing so in the for loop. Hence when calling the function `some_func()` in the loop, it appends the value of x as it loops through range(3) which results in [0,1,2]

When populating the `funcs_results`, it calls each of the functions whose references are stored in teh `funcs` list. Each function would return x when it is called but each call is made after the loop is done iterating. At the time its populating values in `funcs_results`, it is returning the value of x which is 2 which was the last value it was assigned in the loop before exiting.

In [46]:
f = open("./data.txt", "w+")
f.write("1,2,3,4,5")
f.close()

nums = []
with open("./data.txt", "w+") as f:
  lines = f.readlines()
  for line in lines:
    nums += [int(x) for x in line.split(",")]

print(sum(nums))

0

The sum result of nums is 0 because when opening the file again in w+ mode, the data inside the file is truncated. Since the data is truncated and reading it results in empty lines, nums list is empty and its sum is empty. A quick fix on the file reading mode would fix the code to result in a sum of 15.